*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {

    background-color: #FFF;
    color: #000 !important;
    
}

@media (max-width: 1199px) {
  .mx-5{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

}

.nav-link:hover{
    color: #5BE9B9 !important;
}

.navbar.abajo{
    background-color: #6E07F3;
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


header .logo {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}

header .logo:hover{
    color: #5BE9B9;
}

/* Inicio Modo oscuro */
.oscuro {
  background-color: #222222;
  color: white !important;
}

.modooscuro i {
  font-size: 20px;
}

.modooscuro .icono-sol {
  margin-left: 10px;
}

.modooscuro .icono-luna {
  margin-right: 10px;
}

.modooscuro {
  position: relative;
  padding: 3px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  width: 90px;
  background-color: #FFF;
  border-radius: 20px;
  margin-left: 3rem!important;
}

.modooscuroactivado{
  position: relative;
  padding: 3px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  width: 90px;
  background-color: #222222;
  border-radius: 20px;
}

.modooscuro .icono-luna {
  display: none;
  float: right;
  color: #FFF;
}



.icono-sol,
.icono-luna {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.icono-sol.desaparecer {
  transform: translateX(100%);
  opacity: 0;
}

.icono-luna.desaparecer {
  transform: translateX(-100%);
  opacity: 0;
}

/* Fin modo oscuro*/



#myText, #myTextmovil1, #myTextmovil2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
}

.bannerimg a i:hover{
    color: #6E07F3 !important;
}

@media (max-width: 900px) {
    #myText {
        font-size: 25px;
    }
  }
@media (max-width: 800px) {
    #myText {
        font-size: 20px;
    }
}
@media (max-width: 620px) {
    #myText {
        font-size: 18px !important;
    }
    .contenido a i {
        font-size: 40px !important;
      }
  }

  @media (min-width: 450px) {
    #myTextmovil1, #myTextmovil2{
        display: none;
      }
  }
@media (max-width: 800px) {
    #myText {
        display: none;
        font-size: 15px !important;
    }
    .contenido a i {
        font-size: 45px !important;
      }

      #myTextmovil1, #myTextmovil2 {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        color: #FFF;
    }
    .contenedormovimiento{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .contenido{
        margin-top: 300px !important;
    }
}  

@media (max-width: 475px) {
    .contenido a i {
        font-size: 40px !important;
      }

      #myTextmovil1, #myTextmovil2 {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        color: #FFF;
    }

}  


.typing-animation {
    animation: typing 2s steps(20);
    animation-fill-mode: forwards;
    animation-fill-mode: both; 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.contenido {
    margin-top: 200px;
    position: absolute;
    text-align: center;
  }

  .contenido i {
    font-size: 3em !important;
    color: #FFF !important;
    margin: 20px;
  }

.logonav{
    width: 60px;
    height: 60px;
}


.bannerimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("imgs/montaña.webp");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

.bannerimg p{
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 768px) {
    .bannerimg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("imgs/montaña.webp");
        height: 100vh;
        background-size: cover;
        background-position: center center;
      }
}

#my-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #6E07F3;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 30%);
    font-size: 25px;
    height: 50px;
  }

  #my-button:hover {
    background-color: #5BE9B9;
    color: #000;
  }




  /* Sobre mí inicio */

#sobremi{
    padding-top: 80px;
}

  .sobre{
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;

}

.titulo {
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3%;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #6E07F3;
}

.titulo::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #6E07F3;
    bottom: 0;
    left: calc(50% - 40px);
}

.titulo::after {
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #000000;
    border: 4px solid #f9f9f9;
    left: calc(50% - 12px);
    bottom: -7px;
}

.presentacion{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;

}

.divimgcv{
    margin-right: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.fotocv{
    height: 180px;
    width: 170px;
}

.parrafoa{
    font-size: 20px;
    flex: 1;
}

.parrafoa .estudiante{
    text-align: justify;
    line-height: 26px;
    margin-top: 10px;
}


@media (max-width: 1130px) {

    .contenedorhab{
        display: flex !important;
        flex-direction: column;
    }


    .hardskills,
    .softskills,
    .idiomas{
        display: inline-block !important;
    }

    .contenedorhab .col-md-4 {
        width: 100%;
    }
    .hardskillstitle{
        margin-top: 20px;
    }

    .softskillstitle{
        margin-top: 100px;
    }

    .idiomastitle{
        margin-top: 100px;
    }

    .softskills i{
        font-size: 25px !important;
    }

    .softskills span{
        font-size: 20px !important;
    }

}

@media (max-width: 767px) {
    .presentacion {
      display: flex !important;
      flex-direction: column;
    }
    .divimgcv,
    .parrafoa {
      display: inline-block !important;
    }


    .parrafoa h3,
    .parrafoa p {
      text-align: center !important;
    }

    .divimgcv{
        margin-bottom: 50px;
        margin-right: 0px !important;
    }

    .fotocv{
        height: 250px;
        width: 240px;
    }

    #sobremi{
        padding-top: 70px;
    }

    .hardskillstitle{
        margin-top: 20px;
    }

    .softskillstitle{
        margin-top: 100px;
    }

    .idiomastitle{
        margin-top: 100px;
    }

    .softskills i, 
    .softskills span{
        font-size: 15px;
    }

    .presentacion{
      margin-top: 50px;
  }

}
  

.progress {
    margin-top: 20px;
    height: 25px !important; /* Altura de la barra de progreso */
    width: 100%; /* Anchura de la barra de progreso */
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    background-color: #6E07F3  !important; /* Color de fondo de la barra de progreso */
    color: #ffffff; /* Color del texto dentro de la barra de progreso */
    text-align: center;
    transition: width 0.3s ease-in-out;
    animation: progress-animation 4s linear 1;
  }

  @keyframes progress-animation {
    0% {
      width: 0;
    }
  }

.softskills i{
    color: #6E07F3 !important;
}
.softskills span{
    font-size: 18px;
}

.idiomas p,h5{
    color: #000000;
}

.idiomas img{
    height: 20px;
    width: 20px;
}


.idiomas .card{
    margin-top: 20px;
}

.bandera-idioma {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bandera {
    width: 20px;
    height: auto;
    margin-right: 5px;
  }

  .cardru:hover {
    background: linear-gradient(to right, #012169, #fefefe, #cf142b);
  }
  
  .cardesp:hover {
    background: linear-gradient(to right, #c60b1e, #fbda1a, #c60b1e);
  }
  
  .cardcat:hover {
    background: linear-gradient(to right, #f2a800, #c60c30, #fbda1a, #c60c30, #fbda1a);
  }
  /* Sobre mí final */

  
/* Apartado Trayectoria */
#trayectoria{
    padding-top: 40px;
}

.education-section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .timeline {
    position: relative;
  }
  
  .timeline-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6E07F3;
    position: absolute;
    top: 12%; /* Cambiado a top: 10% */
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }
  
  
  .timeline-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .education-card {
    background-color: #6E07F3;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FFF;
  }
  .education-card h5{
    color: #FFF;
  }
  
  .education-card-right {
    margin-left: auto;
  }
  
  .timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8%;
    width: 2px;
    height: 110%;
    background-color: #6E07F3;
    transform: translateX(-50%);
    z-index: 1;
  }

  .timeline-dot-center {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .timeline-dot-bottom {
    top: 88%;
    transform: translate(-50%, -100%);
  }


  @media (max-width: 1568px) {
    .titleeducacion{
        margin-top: 60px;
    }
    .titleexperiencia{
        margin-top: 120px;
    }
    #trayectoria{
        margin-top: 60px;
    }
}

@media (min-width: 1568px) {
    .col-xxxl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }


@media (max-width: 767px) {
    .timeline:before {
        height: auto;
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        margin: auto;
        width: 2px;
        z-index: 0;
        background-color: #6E07F3;
      }
    
      .timeline-content {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrar verticalmente las cajas */
        align-items: center; /* Centrar horizontalmente las cajas */
      }
    
      .education-card {
        width: 550px;
        margin: 10px 0;
        position: relative;
        z-index: 1;
      }
    
      .education-card-right {
        margin-left: 0;
      }
    
      .timeline-dot,
      .timeline-dot-center,
      .timeline-dot-bottom {
        display: none;
      }

      #trayectoria{
        margin-top: 0px;
        padding: 40;
    }
}

@media (max-width: 594px) {
    .education-card {
        width: 350px;
      }
}



  /* Proyectos */

#proyectos{
    padding-top: 40px;
}

#proyectos .proyectos-container{
    padding-left: 30px;
    padding-right: 30px;
}

.tarjetas {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.tarjetas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjetas:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #161616;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.tarjetas:hover:before {
    opacity: 0;
}

.tarjetas:hover h2 {
  opacity: 0;
}

.tarjetas h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    text-transform: uppercase;
}

.proyecto3, .proyecto4, .proyecto5, .proyecto6{
    margin-top: 60px !important;
}


@media (max-width: 1199px) {
    .proyecto1, .proyecto2, .proyecto3{
        margin-top: 60px !important;
    }
}

@media (max-width: 767px) {
  #proyectos{
    margin-top: 0 !important;
  }
}

/* Contactame */


#contactame{
    padding-top: 40px;
    margin-bottom: 100px;
}

.cardcontactame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.correocontacto{
   color: #000;
}

.cardcontactame a{
    text-decoration: none;
}


.iconoscontact i{
    color: #000;
    font-size: 50px;
    margin: 20px;
}

.iconoscontact i:hover{
    transform: scale(1.2);
    color: #6E07F3 !important;
}

.iconosmodooscuro1, .iconosmodooscuro2, .iconosmodooscuro3{
  color: #FFF;
  font-size: 50px;
  margin: 20px;
}

.imgcontactame,.cardcontactame{
    min-height: 650px;
    box-shadow: 0 0 10px #6E07F3;
    padding: 20px;
}

.imgcontactame{
    background-image: url("imgs/contactame.webp");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1.2);
}

.imgcontactame img{
    width: 75%;
    height: 100%;
}
  

@media (max-width: 767px) {
    .contactocorreo{
        margin-top: 50px !important;
    }
    #contactame{
      margin-top: 0;
      padding-top: 40px;
    }
}

@media (max-width: 1199px) {
    .imgcontactame{
        height: 700px;
    }

    .cardcontactame{
        margin-top: 50px;
    }
}

@media (max-width: 1199px) {
    .imgcontactame{
        margin-top: 40px;
    }
}

@media (max-width: 392px) {
    .cardcontactame h4{
        font-size: 18px;
    }
}

footer {
    background-color: #6E07F3;
    color: #FFF;
    padding: 20px 0;
    text-align: center;
  }
  
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  footer p {
    padding: 10px;
    margin: 0;
  }
  


/*Entra de izquierda a derecha*/
.hidden{

  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;

}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}


.tarjetas:nth-child(2){
  transition-delay: 200ms;
}

.tarjetas:nth-child(3){
  transition-delay: 400ms;
}

.tarjetas:nth-child(4){
  transition-delay: 600ms;
}

.tarjetas:nth-child(5){
  transition-delay: 800ms;
}

.tarjetas:nth-child(6){
  transition-delay: 1000ms;
}



